.currency {
  width: 500px;
  height: 250px;
  border: 1px solid black;
  margin: 30px auto;
  padding: 100px;
  padding-top: 30px;
}

.inp {
  margin: 2%;
  padding: 2%;
}

input {
  padding: 1%;
  font-size: medium;
}

input:hover {
  border-color: red;
}

select {
  font-size: medium;
  padding: 1%;
  margin: 2%;
}

.currency:hover {
  border: 2px solid rgb(130, 77, 190);
  box-shadow: inset 0 0 10px rgb(130, 77, 190);
}
