tbody {
  border: 1px solid rgb(130, 77, 190);
  text-align: center;
}
tr:hover {
  background-color: grey;
  color: aliceblue;
}

.table {
  width: 500px;
  border: 1px solid black;
  margin: 30px auto;
  padding: 2%;
  padding-top: 30px;
}

.table:hover {
  border: 2px solid rgb(130, 77, 190);
  box-shadow: inset 0 0 10px rgb(130, 77, 190);
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04aa6d;
  color: white;
}

button {
  margin: 2% 2%;
}
